* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4F6272;
    color: #F7ECE1;

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width 50%
      height: 25em;
      padding-right: 20px;
    }
  }
  
  /* Header section styling */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    display: flex;
    justify-content: center; 
    padding-left: 0px;
    padding-right: 40px;
  }
  
  header nav ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 1.5rem;
    padding: .5rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  /* About me section styling */
  About {
    background-color: #502e30;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  About p {
    display: inline;
    background-color: #502e30;
    justify-content: space-between;
  }
  
  /* My Work section styling */
  Work {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } 
  
  Work{
    width: 95%;
  }
  
  Work a{
    display: block;
    flex-grow: 1;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
  }
  
  Work a img{
    flex-grow: 1;
    padding: 10px;
  }
  
  
  /* Footer styling */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
  }
  
  footer ul {
    float: right;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px; 
    padding-left: 0px;
  
  }
  
  footer ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
  }
  
  /* Display section styling */
  @media screen and (min-width:992px){
    .picture1 {
      min-width: 992px;
      max-width: 992px;    
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }
  }
  
  @media screen and (max-width:992px){
    .picture {
      flex-basis: 25%;
    }
  }
  
  @media screen and (max-width:768px){
    .picture {
      flex-basis: 50%;
    }
  }
  
  @media screen and (max-width:610px){
    
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    header nav ul{
      padding-right: 0px;
    }
  
    .picture {
      flex-basis: 100%;
    }
  
    #About {
      flex-wrap: wrap;
      justify-content: center;
      padding: 50px;
    }
  
    #About {
      padding-right: 0px
    }
  /* Footer styling section */

    footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    footer h3 {
      border-bottom: solid 2px #502e30;
    }
  
    footer ul{
      text-align: center;
    }
  
    footer ul li{
      padding: 5px;
    }
  }